
body {
	padding-top: 70px;
	font-family: 'Lato', sans-serif; 
  font-weight: 300;
  /*color: #555;*/
  color: #313131;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

/* Purple Font */
.purple {
  color: #7f4098;
}

.rounded-img {
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 5px #888888;
  -moz-box-shadow: 10px 10px 5px #888888;
  box-shadow: 10px 10px 5px #888888;
}

hr {
  border-top: 1px solid #E2E2E2 !important;
  padding-bottom: 15px;
}

/*.padding-top {
  padding-top: 30px;
}*/ 

.page-top {
  padding-top: 100px;
}

/* so link goes directly to h1 & h2 
gives too much padding */
/*#para-philosophy, #para-mission {
  margin-top: 75px;
  padding-top: 75px;
}*/


/* --------------------------------------
   NAVBAR
-------------------------------------- */
.navbar-inverse {
/*  background-color: #2D002D;*/
  /*border-color: #a8a8e5; lighter purple*/
  background-color: #120012;
}

.navbar {
  min-height: 85px;
  padding: 15px;
}

.navbar-header {
  padding-bottom: 0;
}

/* accomodate logo*/
.navbar-brand {
  height: 85px;
  padding-top: 0;
}

/* float links right */
.navbar-nav {
  float: right;
  margin: 0;
}

.nav > li {
  padding-top: 30px;
}

.navbar-inverse .navbar-nav>li>a {
  color: #81658C;
}

.navbar-inverse .navbar-nav>li>a:hover {
 /* color: #7f4098;*/
  color: #8E8392;
}

.navbar-inverse .navbar-nav>li>a:focus {
  color: #7404A0;
}

.navbar-inverse .navbar-nav>li>a:active {
  color: #7404A0;
}

.dropdown-menu>li>a {
  color: #7f4098;
}

.dropdown-menu>li>a:hover {
  color: #330033;
}

/* dropdown menu on hover but prevents click dropdown on mobile*/
/*ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
}*/





/* Dropdown menu (from template)
-------------------------------------------------- */
/*.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}
*/
/* HEADER CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
}

/* add shadow to carousel & para def text */
.carousel h1, .carousel h3, .paradigm-def h2 {
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
}

/*fade carousel picture in */
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
/* fade in text shortly after picture */
.carousel h1, .carousel h3 {
  opacity: 0;
  -webkit-transition: opacity 1.5s ease-in-out;
  -moz-transition: opacity 1.5s ease-in-out;
  -o-transition: opacity 1.5s ease-in-out;
  transition: opacity 1.5s ease-in-out;
}
.carousel-fade .carousel-inner .active h1,
.carousel-fade .carousel-inner .active h3 {
  opacity: 1;
}

/* -------------------------------------
MISSION CONTAINER
 -------------------------------*/
#full-logo-large  {
  width: 75%;
  float: left;
}

#full-logo-small {
  display: none;
}

.paradigm-logo {
  padding-bottom: 25px;
}

#mission-col {
  margin-top: 50px;
  padding: 50px 20px 60px 20px;
  font-size: 18px;
}

.second-par {
  padding-top: 25px;
}

/*.home-mission blockquote > p {*/
  #mission blockquote > p {
  margin-top: 30px;
  padding-top: 30px;
  font-style: italic;
}

#mission-col > p, #philosophy p {
  font-size: 18px;
}


/* ------------------------------------
PARADIGM DEF SECTION
------------------------------------*/
.paradigm-def {
  width: 100%;
  background-repeat: no-repeat;
/*  background-position: center bottom; */
  background-size: cover; 
  height: 400px;
  padding: 0;
 }

 .paradigm-def h2 {
  padding-top: 100px;
  /*color: #5E3B71;*/
 }


 /* ------------------------------------
PHILOSOPHY
------------------------------------*/
/*#philosophy {
  padding: 70px 0;
} TEMPORARY*/

/*temporary */
#philosophy {
  padding-bottom: 70px;
}

#philosophy-img {
  max-width: 90%;
}

/* ------------------------------------------
DIAGNOSES TREATED (treatments)
-------------------------------------------------- */

/*#treatments h1 {
  padding-top: 25px;
} TEMPORARY*/

#treatments .col-md-4 {
  margin-top: 20px;
  margin-bottom: 20px;
/*  padding-top: 20px;*/
  padding: 20px 25px;
}

#treatments p {
  padding-bottom: 20px;
} 

/* fade diagnoses img on hover*/
#treatments img {
  -webkit-transition: opacity .2s ease;
  -moz-transition: opacity .2s ease;
  -0-transition: opacity .2s ease;
    transition: opacity .2s ease;
}
#treatments img:hover {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

/* Popover*/
.popover-title {
  text-align: center;
  color: #7f4098;
  font-size: 18px;
  font-weight: bold;
}

/* ------------------------------------------
PHYSICAL THERAPY 
-------------------------------------------------- */

/*#physical-therapy, #manual-therapy, .therapeutic h1 {
  padding-bottom: 20px;
} TEMPORARY*/

/*picture-text-container {  
  background-color: #F5F5F5;
  max-height: 500px;
  overflow: auto;
}

.picture-text p {
  padding-top: 60px;
  padding-right: 40px;
}*/

#physical-therapy .container-fluid {
  background-color: #F5F5F5;
}

#physical-therapy {
  margin-bottom: 50px;
}

/*#physical-therapy .inner-picture img {*/
/*  max-width: 90%;*/
  /*max-height: 450px;*/ /* increase to 500 above screen width 1440 */
/*  border-radius: 0;*/
/*}*/
/*.picture-text {
  padding-top: 40px;
  padding-right: 40px;
}
#physical-therapy .col-md-6 {
  padding-left: 0;
}*/

/* TESTING CHANGES */
#pt-small {
  display: none;
}
#physical-therapy .col-md-5 {
  padding-left: 0;
}
.picture-text {
  padding-top: 30px;
  padding-right: 40px;
}

/* ------------------------------------------
MANUAL THERAPY - Services Page
-------------------------------------------------- */
 #manual-therapy {
/*  margin-top: 20px;
  padding-top: 70px; THIESE 2 TEMPORARY*/
  background-color: #FDFDFC;
}

.first-manual-part {
  margin-bottom: 40px;
}

.check-icon {
  padding-right: 10px;
}


/* ------------------------------------------
CONCEIRGE VISITS - Services Page
-------------------------------------------------*/
/*#concierge .office-angled.col-md-6 {
  padding-left: 0;
}*/
#concierge-angled .col-md-6:first-child, .col-sm-5 {
  padding-left: 0;
}

#concierge .container-fluid {
/*  background-color: #E6E0DB;*/
  background-color: #F1EDEA;
/*  max-height: 480px;*/
}

/*#concierge .inner-picture {
  width: 100%;
  max-height: 450px;
  
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.concierge-text {
  text-align: center;
  padding-top: 15px;
}*/

/*??? */
.office-angled {
  width: 100%;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 85%;
}

.office-small {
  display: none;
}

.concierge-first {
  padding-top: 40px;
}
#concierge-angled p {
  padding-right: 25px;
}

/* ------------------------------------------
THERAPEUTIC MODALITIES - Services Page
-------------------------------------------------- */
#therapeutic {
/*  margin: 70px 0 40px;
  padding-bottom: 20px; THESE 2 TEMPORARY*/
  /*background-color: #FCFBFA;*/
}


/* ------------------------------------------
SPORT-SPECIFIC - Services Page
-------------------------------------------------- */
#sport-specific {
/*  margin-top: 70px; TEMPORARY*/
  margin-bottom: 60px;
  padding-bottom: 35px;
}

#sport-img {
  max-width: 90%;
 /* margin-left: -40px;*/
}

/* ------------------------------------------
CONTACT
-------------------------------------------------- */

#contact {
  padding-bottom: 30px;
}
.contact-icons {
  padding-right: 5px;
  line-height: 40px;
  color: #7f4098;
}

#address {
margin-bottom: 0;
}

#street {
  margin-bottom: 0;
  text-indent: 22px;
  font-size: 14px;
  font-style: italic;
}

#state {
  text-indent: 22px;
  line-height: 1px;
}

#contact a {
  font-family: 'Lato', sans-serif; 
  font-size: 16px;
  font-weight: 300;
  color: #555;
/*  text-decoration: none;*/
}

.directions {
  padding-top: 10px;
}

#fb-icon:hover {
  color: #3b5999;
}

/* ------------------------------------------
  MAP
-------------------------------------------------- */
#map {
  padding: 0;
  margin: 0;
  position: relative;
  background-position: center center;
  height: 100%;
  width: 100%;
/*  width: cover;*/ 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* disabling other click options*/
#map iframe, #second-map iframe{
    pointer-events: none;
}

/* ------------------------------------------
  ABOUT PAGE
-------------------------------------------------- */
/*---- ABOUT JUSTIN --------*/
 #about, #about-joseph {
  /*margin-top: 70px;
  padding: 30px 0; THESE 2 TEMPORARY*/
  background-color: #FFF9FF;
 }

#about h2 {
  margin-top: 0;
}

#about-joseph img {
  margin-top: 50px;
}

 /* -- TESTIMONIALS -------*/
#testimonials {
  background-color: #FFF4FF;
  padding-bottom: 60px;
}

.featurette {
  margin-left: 20px;
  margin-right: 20px;
}


/* ------------------------------------------
  PATIENT INFO PAGE
-------------------------------------------------- */
/* Insurance */
#insurance {
/*  margin-top: 70px;
  padding-top: 30px; THESE 2 TEMPORARY*/
/*  background-color: #FFF4FF;*/
  background-color: #FFF4FF;
}

#forms {
 /* padding-top: 30px; TEMPORARY*/
  background-color: #FFF4FF;
}

#forms .container-fluid {
/*  background-color: #FFF4FF;*/
  background-color: #F6F6F6;
  padding-bottom: 50px;
}

.form-links {
  text-align: center;
  padding-top: 60px;
  padding-right: 100px;
}

#forms .col-md-6 {
  padding-left: 0;
}

#forms .inner-picture {
/*  display: block;*/
  width: 100%;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.inner-picture.small-picture {
  display: none;
}



/* ------------------------------------------
  CONTACT FORM
-------------------------------------------------- */
#appointment-request {
  /*margin-top: 20px;
  padding: 70px 0 100px; TEMPORARY*/
}


.contact-form label {
  color: #7f4098;
}

.button-purple:hover {
  background-color: #E2BFF0;
}

#contact-section {
  padding-top: 70px;
}

#contact-section a {
  font-family: 'Lato', sans-serif; 
  font-size: 16px;
  font-weight: 300;
  color: #555;
/*  text-decoration: none;*/
}

/*contact-section */
.big-icon, .second-icon {
  margin-bottom: 10px;
  font-size: 40px;
  text-align: center;
}

.second-icon {
  padding-left: 20px;
}

.big-home {
  padding-left: 20px;
}

#contact-section {
  /*text-align: center;*/
}

/* ------------------------------------------
  FOOTER
-------------------------------------------------- */
#footer {
  padding: 20px;
  background-color: #120012;
  margin-top: 0;
  padding-right:50px;
}

#footer p {
  color: #7f4098;
}

/* ------------------------------------------
 MEDIA QUERIES
-------------------------------------------------- */
/* NAVBAR*/
/* prevent dropdown on collapsed navbar */
/*@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}*/

@media (min-width: 768px) and (max-width: 992px) { 
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
    margin-top: 20px;*/ /*override bootstrap to lower button*/
   }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .collapse.navbar-collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display:block !important;
  }
  .open .dropdown-menu {
    position: static;
  }
}
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    background-color: #ffffff;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #7f4098;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #e5e5e5;
  }
}



@media (min-width: 992px) and (max-width: 1024px) {
  /* Concierge pictures*/
  .concierge-first {
    padding-top: 10px;
  }
}

/*contact page  */
@media (max-width: 991px) {
  #contact-section {
  text-align: center;
  }
  #contact-section h3 {
    margin-top: 0
  }
  .big-icon:not(.big-home), .second-icon {
    padding-top: 20px;
  }
}

@media (min-width: 768px) {
  /* Bump up size of carousel content*/ 
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  #forms .container-fluid {
    max-height: 470px;
  }
}

@media (max-width: 768px) {
  /* concierge small picture */
  .office-small {
    visibility: visible;
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 20px;
    max-width: 60%;
  }
  /* concierge large picture */
  .office-angled {
    display: none;
  }
  #concierge .container-fluid {
    max-height: initial;
  }
  .concierge-first {
    padding-top: 15px;
  }
  #concierge-angled p {
  padding-right: initial;
  }
  #concierge .second-par {
    padding-bottom: 20px;
  }
  /* physical therapy pictures*/
  #pt-small {
    visibility: visible;
    display: block;
    margin: 0 auto;
    max-width: 60%;
  }
  #pt-large {
    display: none;
  }
  .picture-text {
    padding-top: 0;
  }
  .contact-info {
    text-align: center;
  }
}


@media (max-width: 767px) {
  h1 {
    font-size: 30px;
  }
  #justin-image, #joseph-img {
    max-width: 40%;
    margin: auto;
    margin-bottom: 20px;
  }
  /*form pictures */
  .inner-picture.angled-picture {
    display: none;
  }
  .inner-picture.small-picture {
    visibility: visible;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
  }
/*  #forms .inner-picture.small-picture {*/
  #forms .inner-picture {
    max-width: 60%;
    margin-bottom: 25px;
  }
  .form-links {
    padding-bottom: 20px;
    margin: 0 auto;
    padding: 0;
  }
  /* manual-therapy image*/
  #manual-img {
    margin: 0 auto;
    margin-bottom: 25px;
    max-width: 60%;
  }
  #manual-therapies, .modalities {
    text-align: center;
    font-style: italic;
  }
  /*.modalities {  /* refactored to above */
/*    text-align: center;
    font-style: italic;
  }*/
  .modalities:first-child {
    padding-top: 10px;
  }
  /*sport-specific image */
  #sport-img {
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 80%;
  }
  #full-logo-large {
    display: none;
  }
  #full-logo-small {
    visibility: visible;
    display: block;
    max-width: 75%;
    margin: 0 auto;
  }
  #mission-col {
    margin-top: initial;
    padding-top: initial;
  }
  #pt-small {
/*    visibility: visible;
    display: block;
    margin: 0 auto;*/
    max-width: 50%;
  }
  /*#pt-large {
    display: none;
  }*/
  .picture-text {
    margin: initial;
    padding: 30px 10px 0 15px;
  }
  #physical-therapy {
    margin-bottom: initial;
  }
  .paradigm-def {
    height: 250px;
  }
  .paradigm-def h2 {
    padding: 20px 0;
    font-size: 22px;
  }
  #philosophy-img {
    margin: auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 640px) {
  .navbar-brand>img {
    height: 70px;
   /* max-width: 80%;*/
  }
  .navbar-toggle {
    margin-top: 20px;
  }
}

