
body {
	padding-top: 70px;
	font-family: 'Lato', sans-serif; 
/*	font-weight: 400;*/
  font-weight: 300;
  color: #555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
/*  font-weight: 400; */
  font-weight: 300;
}

p {
  font-size: 16px;
  line-height: 28px;
}

/* Purple Font */
.purple {
  color: #7f4098;
}



/* --------------------------------------
   NAVBAR
-------------------------------------- */
.navbar-inverse {
/*  background-color: #2D002D;*/
  /*border-color: #a8a8e5; lighter purple*/
  background-color: #120012;
}

.navbar {
  min-height: 100px;
  padding: 15px;
}

.navbar-header {
  padding-bottom: 0;
}

/* accomodate logo*/
.navbar-brand {
  height: 100px;
  padding-top: 0;
}

.nav > li {
  padding-top: 30px;
}

.navbar-inverse .navbar-nav>li>a {
  color: #81658C;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #7f4098;
}

.navbar-inverse .navbar-nav>li>a:focus {
  color: #7404A0;
}

.navbar-inverse .navbar-nav>li>a:active {
  color: #7404A0;
}

.dropdown-menu>li>a {
  color: #7f4098;
}

.dropdown-menu>li>a:hover {
  color: #330033;
}

/* Dropdown Menu On Hover update as media query*/
.dropdown:hover .dropdown-menu {
  display: block;
}
.navbar-inverse .navbar-nav>.open>a {
  color: #891792 !important;
}



/* Dropdown menu (from template)
-------------------------------------------------- */
/*.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}
*/
/* HEADER CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/* -------------------------------------
MISSION CONTAINER
 -------------------------------*/
.home-mission h1 {
/*  font-family: 'Raleway', sans-serif;*/
}

.full-logo  {
  width: 80%;
  float: left;
}

#second-col {
  margin-top: 50px;
  padding: 50px 20px 60px 20px;
  font-size: 16px;
}

.second-par {
  padding-top: 25px;
}

.home-mission blockquote > p {
  margin-top: 30px;
  padding-top: 30px;
  font-style: italic;
}

hr {
  border-top: 1px solid #E2E2E2 !important;
  padding-bottom: 15px;
}


/* ------------------------------------
Shadow Person Image
------------------------------------*/
.shadow{
  width: 100%;
  background-position: no-repeat center;
  background-size: cover;
  height: 400px;
  padding: 0;
 }

 .shadow h2 {
  padding-top: 100px;
  /*color: white;*/
  color: #5E3B71;

 }

/* -------------------------------------
ABOUT JUSTIN GORNELL
 -------------------------------*/
 .about {
  margin-top: 70px;
  padding-top: 30px;
 }

 .about img {
    padding-top: 30px;
    border-radius: 50% 20%;
 }

 .justin {
  margin-bottom: 25px;
 }

/* ------------------------------------------
TREATMENTS (marketing section from carousel)
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
/*.marketing .col-lg-4 {*/
  .treatments .col-lg-4 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}
/*.marketing h2 {*/
.treatments h2 {
  font-weight: normal;
}
/*.marketing .col-lg-4 p {*/
  .treatments .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.treatments h1 {
  padding-top: 25px;
/*  font-family: 'Raleway', sans-serif; */
}

/*.treatment-types {
  padding: 20px 0;
}*/

/* ------------------------------------------
PHYSICAL THERAPY 
-------------------------------------------------- */

.physical-therapy, .manual-therapy, .therapeutic h1 {
  padding-bottom: 20px;
/*  font-family: 'Raleway', sans-serif;*/
}

img #id {
  width: 500px;
}

.physical-therapy .col-lg-6 {
  padding-top: 20px;
}

.physical-therapy {
  margin-bottom: 50px;
}


/* ------------------------------------------
MANUAL THERAPY 
-------------------------------------------------- */
  .manual-therapy {
    margin-top: 20px;
    padding-top: 70px;
  }

/* ------------------------------------------
CONCEIRGE VISITS
-------------------------------------------------- */
.concierge {
  padding-top: 50px; 
}

.concierge p {
  line-height: 28px;
  margin-bottom: 20px;
}

/* ------------------------------------------
SPORT-SPECIFIC
-------------------------------------------------- */


/* ------------------------------------------
TESTIMONIAL CAROUSEL
-------------------------------------------------- */
#testimonials {
  margin-top: 20px;
}

/*not working */
.initials {
  text-align: right;
  margin-right: 200px;
}

/* remove grey color from carousel */
#testimonialCarousel.carousel .item {
  height: 400px;
  background: none;
}
#leftcarousel.carousel-control.left, #rightcarousel.carousel-control.right {
  background: none !important;
  filter: progid:none !important;
}
/* ------------------------------ */

/* ------------------------------------------
CONTACT
-------------------------------------------------- */

.contact {
  padding-bottom: 30px;
}
.contact-icons {
  padding-right: 5px;
  line-height: 40px;
  color: #7f4098;
}

#state {
  text-indent: 22px;
  line-height: 1px;
}

.contact a {
  font-family: 'Lato', sans-serif; 
  font-size: 16px;
  font-weight: 300;
  color: #555;
/*  text-decoration: none;*/
}

.directions {
  padding-top: 10px;
}

/* ------------------------------------------
  MAP
-------------------------------------------------- */
#map {
  padding: 0;
  margin: 0;
  position: relative;
  background-position: center center;
  width: 100%;
/*  width: cover;*/ 

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 /* Remove scroll*/
}

/* disabling other click options*/
#map iframe{
    pointer-events: none;
}

/* ------------------------------------------
  PATIENT INFO PAGE
-------------------------------------------------- */
/* Insurance */
.insurance {
  margin-top: 70px;
  padding-top: 30px;
}

.privacy li:before {
  color: #7f4098;
}

/* ------------------------------------------
  CONTACT FORM
-------------------------------------------------- */
.appointment-request {
  margin-top: 20px;
  padding-top: 70px;
}

.test2 label {
  color: #7f4098;
}

.button-test-2:hover {
  background-color: #E2BFF0;
}

/* ------------------------------------------
  FOOTER
-------------------------------------------------- */
#footer {
  padding: 20px;
  background-color: #120012;
  margin-top: 0;
  padding-right:50px;
}

#footer p {
  color: #7f4098;
}


